<div class="container">
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container">
    <a href="#">
      <img src="assets/img/logo.svg" class="img" width="40%" alt="">
    </a>
      
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
      <span class="navbar-toggler-icon"></span>
      <br>
      <h5>MENU</h5>
    </button>

      <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"><h3>Inicio</h3></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="'./movies'"> <h3>Catalago</h3> </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="'./contacto'"> <H3>Contacto</H3></a>
              </li>
          </ul>
      </div>
  </div>
  </nav> 
</div>