<div class="container">
    <div class="row">
      <div class="col">
        <img src="assets/img/udgvirtual.png" class="d-block w-50" alt="...">
      </div>
      <div class="col">
        <h5> Licenciatura en Desarrollo de Sistemas Web </h5>
        <h4> Materia: </h4>
        <p>Conceptualización de Servicios en la Nube</p>
        <h4> Asesor:</h4>
        <p> Oscar Gregorio Silva Mares </p>
      </div>
      <div class="col">
        <h4> Producto Integrador </h4>
        <p>Aplicación web dinámica en un servicio de la nube </p>
        <h4>Alumno:</h4>
        <p> Julián Arnulfo Rojas Bernal </p>
        <a href="mailto:julian.rojas@udgvirtual.udg.mx">CONTACTAR</a>
      </div>
    </div>
  </div>