<div class="card-group">
    
  <div class="card">
    
    <img src="assets/img/udgvirtual.png" class="img-fluid" alt="Responsive image">
    
  </div>
  
  <div class="card">
    <h5 class="text-center"> Licenciatura en Desarrollo de Sistemas Web </h5>
          <h4 class="text-center"> Materia: </h4>
          <p class="text-center">Conceptualización de Servicios en la Nube</p>
          <h4 class="text-center"> Asesor:</h4>
          <p class="text-center"> Oscar Gregorio Silva Mares </p>
  </div> 
  <div class="card">
          <h4 class="text-center"> Producto Integrador </h4>
          <p class="text-center">Aplicación web dinámica en un servicio de la nube </p>
          <h4 class="text-center">Alumno:</h4>
          <p class="text-center"> Julián Arnulfo Rojas Bernal </p>
          <a href="mailto:julian.rojas@udgvirtual.udg.mx">CONTACTAR</a>
  </div> 
  </div>
  